
/*This code is for the Navigation Bar and will remain the same across all HTML documents*/
nav{
    z-index: 2;

}

.dropdown ul{
    display: flex;
    margin: 25px;
    padding: 0px;
    border-radius: 25px;
    border: 5px solid #0871ae;
    justify-content: space-around;
    position: relative;

    list-style: none;
    background-color: #B6E3FD;

}

.dropdown li{
    padding: 10px;
    
}

.dropdown .submenu{
    display: block;
    position: absolute;
    top: 39px;
    opacity: 0;

    background-color: #5FBDF4;
    transition: 1s opacity;

}

.dropdown li:hover .submenu{
    opacity: 100;

}

.dropdown li:hover{
    background-color: white;

}

.sealOfWill{
    position: relative;
    float: left;
    top: -25px;

}

/* End of Nav Bar Code */

.welcome{
    justify-content: center;
    margin-top: 50px;
    margin-left: 40%;
    margin-right: 29%;

    font-size: xx-large;
    font-weight: bold;

    text-shadow: 2px 2px white;

}

.pa_img{
    margin-left: 29%;
    margin-right: 29%;
    padding: 25px;
    border: 5px solid #0871ae;

}

.source_state_photo{
    margin-left: 29%;
    margin-right: 29%;

}

.info_for_williamsport_section_1{
    font-size: x-large;
    margin-left: 20px;

}

.photo_of_williamsport{
    display: flex;
    float: right;

    margin-right: 50px;
    border: 5px solid #0871ae;
}

h1{
    font-size: xx-large;
    font-weight: bold;
    text-shadow: 2px 2px white;

    margin-bottom: -15px;

}

.haveFun{
    justify-content: center;
    margin-top: 50px;
    margin-left: 35%;
    margin-right: 29%;

    font-size: xx-large;
    font-weight: bold;

    text-shadow: 2px 2px white;
}

/* Bald Eagle */
.beach{
    margin-left: 24%;
    margin-right: 50%;
        
    border: 8px solid #0871ae;

}

.animal{
    display: flex;
    float: right;

    border: 8px solid #0871ae;

    margin: 35px;

}

.lodge{
    display: flex;
    float: left;

    margin: 35px;

    border: 8px solid #0871ae;

}

.beparagraph{
    font-size: x-large;

}

.beh1{
    margin-top: 50px;
    margin-left: 50px;

    font-size: xx-large;
    font-weight: bold;

    text-shadow: 2px 2px white;
    text-decoration: underline;
}

/* Hiking Page */
.hikingPhoto{
    display: flex;
    float: right;
    border: 5px solid #0871ae;
    margin-left: 5px;
    margin-right: 25px;

}

.blueB{
    font-size: large;
}

.river_walk{
    font-size: large;

}

.raccMoun{
    font-size: large;

}

.smithK{
    font-size: large

}

.hikingh1{
    margin-top: 50px;
    margin-left: 50px;

    font-size: xx-large;
    font-weight: bold;

    text-shadow: 2px 2px white;

}

.hikingh2{
    font-size: x-large;
    font-weight: bold;

    text-shadow: 2px 2px white;
    margin-bottom: -5px;

}

.hikingh3{
    font-size: large;
    font-weight: bold;
    margin-left: 30px;
    margin-right: 30px;


}

/* Key Events */
.mRoss{
    display: flex;
    float: right;

    border: 8px solid #0871ae;

    margin: 35px;

}

.willH{
    display: flex;
    float: right;

    border: 8px solid #0871ae;

    margin: 35px;

}

.sBoom{
    display: flex;
    float: right;

    border: 8px solid #0871ae;

    margin: 35px;

}

.gFire{
    display: flex;
    float: right;

    border: 8px solid #0871ae;

    margin: 35px;
}

.keyeventsp{
    font-size: x-large;
    margin: 35px;

}

.keyeventsh1{
    margin-top: 50px;
    margin-left: 50px;

    font-size: xx-large;
    font-weight: bold;

    text-shadow: 2px 2px white;
    text-decoration: underline;
}

/* Little Leaugue Museum */
.photoM{
    margin-left: 24%;
    margin-right: 50%;
    
    border: 8px solid #0871ae;

}

.photo1{
    display: flex;
    float: right;

    margin:20px;
    border: 8px solid #0871ae;

}

.photo2{
    display: flex;
    float: left;

    margin: 20px;
    border: 8px solid #0871ae;

}

.infoOfMueseum{
    margin-top: 25px;
    margin-left: 15px;

    font-size: large;
}

.llMh1{
    margin-top: 50px;
    margin-left: 50px;

    font-size: xx-large;
    font-weight: bold;

    text-shadow: 2px 2px white;
    text-decoration: underline;
}

/* Local Resturants */

.brickSlide{
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.BrickPic{
    display: none;

}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;

}  

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.selectionNumber {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.brickY1, .brickY2, .brickY3{
    border: 8px solid #0871ae;
    margin: 35px;
}

.bullF1, .bullF2, .bullF3{
    border: 8px solid #0871ae;

    margin: 35px;

}

.boom1, .boom2, .boom3{
    border: 8px solid #0871ae;

    margin: 35px;

}

.lRp{
    font-size: x-large;
    margin: 35px;

}

.lrh1{
    margin-top: 50px;
    margin-left: 50px;

    font-size: xx-large;
    font-weight: bold;

    text-shadow: 2px 2px white;
    text-decoration: underline;
}

/* Local Shops */
.ottoS, .custoS, .le-chocolatS{
    border: 8px solid #0871ae;
    margin: 35px;

    display:flex;
    float: right;
}

.lSp{
    font-size: x-large;
    

}

.lSh1{
    margin-top: 50px;
    margin-left: 50px;

    font-size: xx-large;
    font-weight: bold;

    text-shadow: 2px 2px white;
    text-decoration: underline;
}

/* Local Theater */

.ctlO, .cacO{
    border: 8px solid #0871ae;
    margin: 35px;

    display:flex;
    float: right;
}
.lp{
    font-size: x-large;
    margin: 35px;

}

.lh1{
    margin-top: 50px;
    margin-left: 50px;

    font-size: xx-large;
    font-weight: bold;

    text-shadow: 2px 2px white;
    text-decoration: underline;
}

/* Loyalsock State Park */
.parkPhoto{
    margin-left: 25%;
    margin-right: 50%;
        
    border: 8px solid #0871ae;

}

.campingPhoto{
    border: 8px solid #0871ae;

    margin: 35px;

    display: flex;
    float: right;

}

.waterFPhoto{
    border: 8px solid #0871ae;

    margin: 40px;
    
    display: flex;
    float: left;
}

.lsp{
    font-size: x-large;

}

.lsh1{
    margin-top: 50px;
    margin-left: 50px;

    font-size: xx-large;
    font-weight: bold;

    text-shadow: 2px 2px white;
    text-decoration: underline;
}

/* Form FOr Visit */
.visit_form{
    font-size: x-large;
    margin-left: 35%;
    margin-right: 35%;
    color: white;

}

.menuform{
    margin-left: 20%;
    margin-right: 20%;

}

/* Millionare Row */
.mRphoto{

    border: 8px solid #0871ae;

    margin: 35px;

}

.mRp{
    font-size: x-large;
    margin: 35px;

}

.mRh1{
    margin-top: 50px;
    margin-left: 50px;

    font-size: xx-large;
    font-weight: bold;

    text-shadow: 2px 2px white;
    text-decoration: underline;
}

/* Pine Creek */
.PCparkPhoto{
    margin-left: 25%;
    margin-right: 50%;
        
    border: 8px solid #0871ae;

}

.PClakePhoto{
    border: 8px solid #0871ae;
    display: flex;
    float: right;

    margin: 35px;

}

.PCtroutPhoto{
    border: 8px solid #0871ae;
    display: flex;
    float: left;

    margin: 35px;
    
}

.pCp{
    font-size: x-large;

}

.pCh1{
    margin-top: 50px;
    margin-left: 50px;

    font-size: xx-large;
    font-weight: bold;

    text-shadow: 2px 2px white;
    text-decoration: underline;
}

/* Reptile Land */
.RLphoto{
    border: 5px solid #0871ae;
    display: flex;
    float: left;
    margin: 20px;
}

.RLvideo{
    border: 5px solid #0871ae;
    display: flex;
    float: right;
    margin-top: 40px;
    margin-right: 200px;

}

.rep_build{
    margin-left: 24%;
    margin-right: 50%;
    
    border: 8px solid #0871ae;

}

.RLli{
    font-size: large;

}

.RLh1{
    margin-top: 50px;
    margin-left: 50px;

    font-size: xx-large;
    font-weight: bold;

    text-shadow: 2px 2px white;
    text-decoration: underline;

}

/* Susquehanna Park */
.SPparkPhoto{
    margin-left: 25%;
    margin-right: 50%;
        
    border: 8px solid #0871ae;

}

.SPboatPhoto{
    display: flex;
    float: left;

    border: 8px solid #0871ae;

    margin: 35px;
}

.SPriverPhoto{
    display: flex;
    float: right;

    border: 8px solid #0871ae;

    margin: 35px;
}

.SPp{
    font-size: x-large;

}

.SPh1{
    margin-top: 50px;
    margin-left: 50px;

    font-size: xx-large;
    font-weight: bold;

    text-shadow: 2px 2px white;
    text-decoration: underline;
}

.gradingSheetP{
    font-weight: bold;

}

body{
    background-color: #87CFFA;

}

.dropdown .nav>li{width:auto;vertical-align:top;float:left;border-bottom:4px solid transparent;padding-bottom:10px;-webkit-transition:border-bottom 0.5s ease;-moz-transition:border-bottom 0.5s ease;-ms-transition:border-bottom 0.5s ease;-o-transition:border-bottom 0.5s ease;transition:border-bottom 0.5s ease;cursor:pointer;}
.dropdown .nav>li>a{display:block;font-size:16px;position:relative;color:#999999;margin:0;padding:0px 20px;line-height:36px;border-right:1px solid #e0e0e0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.dropdown .nav>.active>a,.dropdown .nav>.active>a:hover{color:#222222;text-shadow:none;background-color:transparent;}
.dropdown .nav li:hover,.dropdown .nav>.active{border-bottom:4px solid #5bc0de;}
.dropdown,body>.content{float:none;width:auto;margin-left:20px;margin-right:20px;}

@media only screen and (max-width: 600px){
    body{
        display: flex;
        flex-direction: column;

    }

    .sealOfWill{
        display: none;

    }
}