.dropdown ul{
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: space-around;
    position: relative;

    list-style: none;
    background-color: lightskyblue;

}

.dropdown li{
    padding: 10px;
    
}

.dropdown .submenu{
    display: block;
    position: absolute;
    top: 39px;
    opacity: 0;

    background-color: yellow;
    transition: 1s opacity;

}

.dropdown li:hover .submenu{
    opacity: 100;

}

.dropdown li:hover{
    background-color: orange;

}